####################################################################
# WhiteSource FS-Agent configuration file
####################################################################
##########################################
# GENERAL SCAN MODE: Files and Package Managers
##########################################

checkPolicies=false
forceCheckAllDependencies=false
forceUpdate=false
forceUpdate.failBuildOnPolicyViolation=false
offline=false
#dependenciesOnly=true

#projectPerFolder=true
#projectPerFolderIncludes=
#projectPerFolderExcludes=

#wss.connectionTimeoutMinutes=60
# Change the below URL to your WhiteSource server.
# Use the 'WhiteSource Server URL' which can be retrieved
# from your 'Profile' page on the 'Server URLs' panel.
# Then, add the '/agent' path to it.
wss.url=https://saas.whitesourcesoftware.com/agent

#npm.ignoreJavaScriptFiles=false
#npm.resolveDependencies=false
#npm.includeDevDependencies=true
#npm.runPreStep=true
#npm.ignoreNpmLsErrors=true
#npm.ignoreScripts=true
#npm.yarnProject=true

#bower.resolveDependencies=false
#bower.runPreStep=true

#nuget.resolveDependencies=false
#nuget.restoreDependencies=true

#python.resolveDependencies=false
#python.ignorePipInstallErrors=true
#python.installVirtualenv=true
#python.resolveHierarchyTree=false
#python.requirementsFileIncludes = requirements.txt
#python.resolveSetupPyFiles=true

#maven.ignoredScopes=test provided
#maven.resolveDependencies=false
#maven.aggregateModules=true
#maven.ignorePomModules=false

#gradle.resolveDependencies = false
#gradle.runAssembleCommand = false
#gradle.aggregateModules =true

#paket.resolveDependencies=false
#paket.ignoredGroups=
#paket.ignoreFiles=false
#paket.runPreStep=true
#paket.exePath=

#go.resolveDependencies=false
#go.collectDependenciesAtRuntime=true
#go.dependencyManager=

#ruby.resolveDependencies = false
#ruby.runBundleInstall = true
#ruby.overwriteGemFile = true
#ruby.installMissingGems = true

#sbt.resolveDependencies=false
#sbt.aggregateModules=true
#sbt.runPreStep=true
#sbt.targetFolder=

#html.resolveDependencies=false

##################################
# Organization tokens:
##################################
apiKey=

#userKey is required if WhiteSource administrator has enabled "Enforce user level access" option
#userKey=

projectName=
projectVersion=
projectToken=

productName=
productVersion=
productToken=
#updateType=APPEND
#requesterEmail=user@provider.com

#########################################################################################
# Includes/Excludes Glob patterns - PLEASE USE ONLY ONE EXCLUDE LINE AND ONE INCLUDE LINE
#########################################################################################
includes=**/*.c **/*.cc **/*.cp **/*.cpp **/*.cxx **/*.c++ **/*.h **/*.hpp **/*.hxx **/*.pas **/*.zip **/*.tar.gz **/*.egg **/*.whl **/*.py **/*.tgz **/*.deb **/*.gzip **/*.rpm **/*.tar.bz2 **/*.dll **/*.cs **/*.nupkg **/*.gem **/*.rb **/*.m **/*.mm **/*.js **/*.php **/*.zip **/*.tar.gz **/*.egg **/*.whl **/*.py **/*.scala **/*.jar

#includes=**/*.m **/*.mm  **/*.js **/*.php
#includes=**/*.jar
#includes=**/*.gem **/*.rb
#includes=**/*.dll **/*.cs **/*.nupkg
#includes=**/*.tgz **/*.deb **/*.gzip **/*.rpm **/*.tar.bz2
#includes=**/*.zip **/*.tar.gz **/*.egg **/*.whl **/*.py

## Exclude file extensions or specific directories by adding **/*.<extension> or **<excluded_dir>/**
excludes=**/*sources.jar **/*javadoc.jar

case.sensitive.glob=false
followSymbolicLinks=true

##################################
# Archive Properties
##################################
#archiveExtractionDepth=2
#archiveIncludes=**/*.war **/*.ear
#archiveExcludes=**/*sources.jar

##################################
# Proxy settings
##################################
#proxy.host=
#proxy.port=
#proxy.user=
#proxy.pass=

##################################
# SCM settings
##################################
#scm.type=
#scm.user=
#scm.pass=
#scm.ppk=
#scm.url=
#scm.branch=
#scm.tag=

##############################################
# SCAN MODE: Linux package manager settings
##############################################
#scanPackageManager=true

##################################
# SCAN MODE: Docker images
##################################
#docker.includes=.*.*
#docker.excludes=.*.*
#docker.scanImages=true